{% extends 'base.html' %}

{% block title %} Postlar {% endblock title %}

{% block content %}
<div class="container mt-4">
    {% if object_list %}
        <div class="row row-cols-1 g-4">
            {% for article in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <p><a href="{% url 'article_detail' article.pk %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{article.title}}</a></p>
                        {% if article.photo %}
                            <img src="{{ article.photo.url }}" class="card-img-top" alt="{{ article.title }}">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ article.summary }}... <a href="{% url 'article_detail' article.pk %}">batafsil</a></p>
                        </div>
                        <div class="card-footer text-muted">
                            {{ article.author|title }} | {{ article.date|date:"d-m-Y H:i" }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center text-muted">Hech qanday post topilmadi</p>
    {% endif %}
</div>
{% endblock content %}
